body {
	font-family: 'helvetica neue', helvetica, sans-serif;
}

.group-id,
.item-id {
	display: none;
}

.item-text,
.item-id,
.item-desk-link,
.item-tfidf {  
}

.debug {
	display: none;
	font-size:0.7em;
}

a { 
	color: inherit;
	text-decoration:none; 
}

ul {
	list-style: none;
	margin: 1em 0;
	padding: 0; 
}
ul li {
	font-weight: bold;
	margin: 0;
	padding: 3px 10px 5px 20px;
	border-bottom: 1px solid #ccc;
	color: #666; 
}
ul li:hover {
	color: #000;
	background-color: #d6d6d6; 
}

blockquote { 
    padding: 0 10% 0 8%;
}

blockquote:before, blockquote:after { 
    display: block; 
    font-size:2.5em;
}

blockquote:before { 
	content: '\201C';  
    margin-left: -30px; 
    height: 0; 
}

blockquote:after { 
	content: '\201D';
    margin-left: 100%; 
    margin-top: -33px; 
    height: 33px; 
}

#debug-bar {
	text-align: right;
	font-size: 0.8em;
}